@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
}

.loading {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #fcd34d 94%, #0000) top/8px 8px no-repeat,
              conic-gradient(#0000 30%, #fcd34d);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
  overflow: hidden; /* Clip the glow inside the spinner */
}

.loading::before {
  content: '';
  position: absolute;
  top: -10px; /* Adjust the position to ensure the glow extends beyond the spinner */
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: inherit;
  box-shadow: 0 0 20px 10px #fcd34d, 0 0 40px 20px rgba(0, 0, 0, 0.4); /* More intense glow effect */
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}



::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0c2;
  border: 4px solid #09090b;
  height: 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 12px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #e2e8f0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f59e0b;
  border: 0px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}
